<nav class="nav-bar">
  <ul class="nav_list">
    <li class="nav_list_items">
      <a href="/shop" class="<%= path==='Shop'?'active ':'' %>">Shop</a>
    </li>
    <li class="nav_list_items">
      <a href="/products" class="<%= path==='Products'?'active ':'' %>"
        >Products</a
      >
    </li>
    <li class="nav_list_items">
      <a href="/cart" class="<%= path==='Cart'?'active ':'' %>">Cart</a>
    </li>
    <li class="nav_list_items">
      <a href="/admin" class="<%= path==='Add Product'?'active ':'' %>"
        >Add Product</a
      >
    </li>
    <li class="nav_list_items">
      <a
        href="/admin/admin-products"
        class="<%= path==='Admin Products'?'active ':'' %>"
        >Admin Products
      </a>
    </li>
  </ul>
</nav>
